section.cardRow
	.container
		.row
			.col-xs-12
				h4.titleSection.text-center Sample project

			.col-xs-12.col-sm-4
				//.grid
				figure.effect-goliath#pr01
					a(href="http://www.solopx.com")
						img(src="#{assetsPath}images/thumbProject01.jpg" alt="Card image cap")
						figcaption
							h2 Bufnita din <span>tei</span>
							p logo, brand & website
			.col-xs-12.col-sm-4
				//.grid
				figure.effect-goliath#pr02
					a(href="http://www.solopx.com")
						img(src="#{assetsPath}images/thumbProject02.jpg" alt="Card image cap")
						figcaption
							h2 Peepler
							p logo design
			.col-xs-12.col-sm-4
				//.grid
				figure.effect-goliath#pr03
					a(href="http://www.solopx.com")
						img(src="#{assetsPath}images/thumbProject03.jpg" alt="Card image cap")
						figcaption
							h2 Newsletter
							p framework developement & template
			.col-xs-12.text-center
				a(href="#") view all project
