//- from: http://untame.net/2013/04/how-to-integrate-simple-parallax-with-twitter-bootstrap/
section#intro(data-speed="6" data-type="background")
	.container
		.row
			.col-xs-11.col-sm-11.col-md-11.col-lg-11.pull-right
				h1.titleAnim
					| "A <span class="colored">designer</span> who <span class="colored">code</span>,&nbsp;
					br.hidden-md-down
					| knows well the boundaries&nbsp;
					br.hidden-md-down
					| that he will must overcome…

				p.lead Especially in projects with tight deadlines that worths <strong>all the money</strong> ;)

				h2 I'm one of them...
				//- hr.top-horisontal
