//- from: http://untame.net/2013/04/how-to-integrate-simple-parallax-with-twitter-bootstrap/
section#intro(data-speed="6" data-type="background")
	.container
		hr.top-horisontal
		h1
			| A designer who code,
			br
			| knows well the boundaries
			br
			| that he will must overcome…

		p Especially in projects with tight deadlines that worths all the money ;)

		h2 I'm one of them...
