- var assetspath = "../../assets/images"
section.skils
	.container
		.row
			.col-xs-12
				h4.text-center.titleSection KNOW HOW
				svg(style="display: none;").icon
					include ../../assets/images/svg/_pack_draw

			.col-xs-6.col-sm-6.col-md-3.web
				svg.icon
					use(xlink:href="#iconUi")
				h5
					| Web design, UI, UX & Developement&nbsp;

				small: i with bootstrap & jade
				hr
				p
					| I try hard, to match users needs with business objectives. <strong>This is the way!</strong>

			.col-xs-6.col-sm-6.col-md-3.graphinc
				svg.icon
					use(xlink:href="#iconBrain")
				h5
					| Graphinc design and brand concept

				small: i I make things that speaking
				hr
				p
					//-  I can make you HAPPY if you see your: Brand, Identity, Web Site & not for last your wallet ;))
					//- ro Nu imi place sa initiez un poriect prin desen. Pornesc prin cautare si documentare pentru a gasi concepte usor de inteles.
					| Starting with documentation and searching the concepts, <strong>gives me an advantage.</strong>

			.col-xs-6.col-sm-6.col-md-3.illustration
				svg.icon
					use(xlink:href="#iconVectorIllustrator")

				h5
					| Illustration, infographics & photo&nbsp;

				small: i even for print
				hr
				p
					//- Formele si culorile sunt un element extraordinar de important in a atinge targeturile propuse de orice proiect.
					//- Unul dintre elementele principale in comunicare sunt formele si culorile. Ele sunt primele care ajung la clienti
					| The main elements in communication are shapes and colors. <strong>I am aware of it.</strong>

			.col-xs-6.col-sm-6.col-md-3.marketing
				svg.icon
					use(xlink:href="#iconMarketing")
				h5
					| Marketing
					br
					| online&nbsp;

				small: i responsive newsletter, DEM
				hr
				p
					//-| The numbers speak for themselves: 47% of emails are now opened on mobile devices
					| My workflow speeds up the process of implementation. <strong>All I need is content.</strong>
		//-  hr
			.row
				.col-xs-12.col-sm-6.statistics
					h5 Open time programs on my machine
					ul.list-group
						li.list-group-item
							.titleSoft
								| Photoshop all day
							i all day
						li.list-group-item
							.titleSoft
								| Sublime text all day
							i all day
						li.list-group-item
							.titleSoft
								| Illustrator all day
							i all day
						li.list-group-item
							.titleSoft
								| Indesign some in the morning
							i evrey morning

				.col-xs-12.col-sm-6.statistics


