- var assetspath = "../../assets/images"
section.skils
	.container
		.row
			.col-xs-12
				h4.text-center.titleSection Statistics & know how

			.col-xs-6.col-sm-6.col-md-3.graphinc
				//
				//
				//
				svg.icon.iconBrain
					use(xlink:href="#iconBrain")
				h5
					| Graphinc design and brand concept
				small: i I make things that speaking
				p
					| I can make you HAPPY if you see your: Brand, Identity, Web Site & not for last your wallet ;))

			.col-xs-6.col-sm-6.col-md-3.illustration
				svg.icon.iconVectorIllustrator
					use(xlink:href="#iconVectorIllustrator")

				h5
					| Illustration & infographics&nbsp;
				small: i even for print
				p
					| I can make you HAPPY if you see your: Brand, Identity, Web Site & not for last your wallet ;))
			.col-xs-6.col-sm-6.col-md-3.web
				svg.icon.iconVectorIllustrator
					use(xlink:href="#iconUi")
				h5
					| Web design, UI & Developement&nbsp;
				small: i with bootstrap & jade
				p
					| I can make you HAPPY if you see your: Brand, Identity, Web Site & not for last your wallet ;))
			.col-xs-6.col-sm-6.col-md-3.marketing
				svg.icon.iconMarketing
					use(xlink:href="#iconMarketing")
				h5
					| Marketing
					br
					| online&nbsp;
				small: i responsive newsletter, DEM
				p
					| I can make you HAPPY if you see your: Brand, Identity, Web Site & not for last your wallet ;))
			.col-xs-12.col-sm-6.knowHow
				h5 My strong point
				ul.list-group
					li.list-group-item.graphinc
						| Graphinc design and brand concept
					li.list-group-item.illustration
						| Illustration & infographics&nbsp;
						i (even for print)
					li.list-group-item.web
						| Web design, UI & Developement&nbsp;
						i (bootstrap)
					li.list-group-item.marketing
						| Marketing online&nbsp;
						i (responsive newsletter, DEM)

			.col-xs-12.col-sm-6.statistics
				h5 Open time programs on my machine
				ul.list-group
					li.list-group-item
						.titleSoft
							| Photoshop all day
						i all day
					li.list-group-item
						.titleSoft
							| Sublime text all day
						i all day
					li.list-group-item
						.titleSoft
							| Illustrator all day
						i all day
					li.list-group-item
						.titleSoft
							| Indesign some in the morning
						i evrey morning


