extend include/template
include include/mixin

block navigation
	+navItem(true, "index.html", "HOME")
	+navItem(false, "about.html", "ABOUT")

block contentPage
	include include/iCanCode
	//- include include/carousel
	include include/bufnitaDinTei
	include include/newsletter
	include include/peepler