$brand-primary: #ED2224
$brand-accent01: #33B58A
$brand-accent02: #76CFE6
$brand-accent03: #FEE000

#intro
	h1, h2
		font-weight: 700
	h1
		color: darken($brand-accent02, 5%)
		font-size: 4em
	h2
		font-size: 6em	