#intro
	hr.top-horisontal
		width: 0px
		height: 0px
		display: block
		//background: $brand-accent03
		border: none
		float: left
		border-top: 30px solid #ff3a00
		border-left: 30px solid transparent
		border-bottom: 30px solid #ff7200
		border-right: 30px solid transparent

	h1, h2
		font-weight: 700
		font-size: 2em
		color: white
	h1
		text-indent: -.5em
		.colored
			color: $brand-accent00
			color: rgba($brand-accent00, .7)
			//text-decoration: underline
			text-transform: uppercase
	h2
		color: rgba($brand-primary, .6)
		color: white


	p.lead
		color: lighten($brand-primary, 20%)
		color: lighten($brand-accent00, 100%)
		font-size: 1.5em
		span
			color: $brand-primary

// Small devices (landscape phones, 34em and up)
@media (min-width: 34em)
	#intro
		h1, h2
			font-size: 2em
			line-height: 1.2em

// Medium devices (tablets, 48em and up)
@media (min-width: 48em)
	#intro
		h1, h2
			font-size: 2em
		p.lead
			font-size: 1.5em
			color: darken($brand-accent00, 20%)

// Large devices (desktops, 62em and up)
@media (min-width: 62em)
	#intro
		h1, h2
			font-size: 3em

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em)
	#intro
		h1, h2
			font-size: 4em