#carousel-example-generic.carousel.slide(data-ride="carousel")
	ol.carousel-indicators
		li.active(data-target="#carousel-example-generic" data-slide-to="0")
		li(data-target="#carousel-example-generic" data-slide-to="1")
		li(data-target="#carousel-example-generic" data-slide-to="2")
	.carousel-inner(role="listbox")
		.carousel-item.active
			img(src="#{assetsPath}images/slide01.jpg" alt="First slide")
		.carousel-item
			img(src="#{assetsPath}images/slide02.jpg" alt="First slide")
		.carousel-item
			img(src="#{assetsPath}images/slide03.jpg" alt="First slide")

	a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
		span.icon-prev(aria-hidden="true")
		span.sr-only Previous
	a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
		span.icon-next(aria-hidden="true")
		span.sr-only Next