extend include/template
include include/mixin

block navigation
	+navItem(false, "index.html", "HOME")
	+navItem(true, "about.html", "ABOUT")

block contentPage
	section.about
		.container-fluid.gradientBg
			.container
				.row
					.col-xs-12.col-sm-12.col-md-8

						br
						h1
							| Hi, I'm Nicu Razvan
						h2
							| UX , Interaction and graphic designer
						hr
						p
							| 15 years ago, together with a friend I started to create websites.
							| I do not know HTML codyng at that time. Graduated in architecture and love to draw, I had a feel that this job fit me like a glove.
							| Computer graphics gives me some freedom so I continued diligent, even if nowadays really use the analog world.
							| I followed thereafter some HTML CSS classes that helped me enormously in my career. Nothing could stop me to advance in this field.