section#bufnitaDinTei
	.container
		.row
			.col-xs-12.col-sm-6
				.text-center.svg
					.hidden-sm-down
						svg#head(viewBox="0 0 80 38" )
							include ../../assets/images/headBufnitaDinTei.svg

					.hidden-sm-up
						h3.text-center BUFNITA din Tei
					.hidden-md-up
						br
						svg#bird(viewBox="0 0 80 80" )
							include ../../assets/images/bufnitaDinTei.svg
			.col-xs-12.col-sm-6
				h3.hidden-xs-down
					| BUFNITA din Tei
				em
					| Activitatile desfasurate pentru acest poiect sunt
				ul
					li
						h6 Account
						p am tratat toate aspsectele privind acest proiect cu clientul
					li
						h6 Project management
						p am creeat toata documentatia care a ajuns la programator pentru realizarea themei de wordpres
					li
						h6 Branding, logo design & illustration
						p toate elementele de brand sunt creeate in acestp proiect in illustrator si photoshop
					li
						h6 Developement (bootstrap 3)
						p toate paginile au fost realziate in html css (bootstrap 3)
				p
					a.btn.btn-sm.btn-primary-outline.bm2(href="http://www.slideshare.net/cromozooom/owl-from-the-linden-53764876") view presentation
		//.row.thumb
			.col-xs-12.col-sm-4.thumb01
				.content
					img.img-responsive(src="#{assetsPath}images/bufnitadintei01.jpg" alt="First slide")
					h5.small.text-center Smart ideea
			.col-xs-12.col-sm-4.thumb02
				.content
					img.img-responsive(src="#{assetsPath}images/bufnitadintei02.jpg" alt="First slide")
					h5.small.text-center Baby hand
			.col-xs-12.col-sm-4.thumb03
				.content
					img.img-responsive(src="#{assetsPath}images/bufnitadintei03.jpg" alt="First slide")
					h5.small.text-center Owl teachers - symbol