.container-fluid.footer
	.container
		.row
			.col-xs-12
				//svg.socialIcon()
				svg.iconSocial(style="display: none")
					include ../assets/images/svg/social/social
				br
				p
					| You are free to contact me at:
					<a href="mailto:cromozooom@gmail.com">cromozooom[at]gmail.com</a>
					| or can follow me on:
				ul.list-inline
					+socialIcon("iconBehance", "https://www.behance.net/solopx?utm_source=solopx.com&utm_medium=portofoliu&utm_content=behance&utm_campaign=cvpublication")
					+socialIcon("iconDribbble", "https://dribbble.com/solopx?utm_source=solopx.com&utm_medium=portofoliu&utm_content=dribble&utm_campaign=cvpublication")
					+socialIcon("iconlinkedin", "https://it.linkedin.com/in/razvanicu?utm_source=solopx.com&utm_medium=portofoliu&utm_content=linkedin&utm_campaign=cvpublication")
					//- +socialIcon("slideshareIcon", "http://www.slideshare.net/cromozooom?utm_source=solopx.com&utm_medium=portofoliu&utm_content=slideshare&utm_campaign=cvpublication")
					//- +socialIcon("googleIcon", "https://plus.google.com/+NicuRazvanGabriel/about?utm_source=solopx.com&utm_medium=portofoliu&utm_content=googleplus&utm_campaign=cvpublication")
					//- +socialIcon("twitterIcon", "https://twitter.com/cromozooom?utm_source=solopx.com&utm_medium=portofoliu&utm_content=twitter&utm_campaign=cvpublication")
					//- +socialIcon("thumblrIcon", "http://solopx.tumblr.com/?utm_source=solopx.com&utm_medium=portofoliu&utm_content=thumblr&utm_campaign=cvpublication")