.collapse#slideMenu
	.row
		if navSearch
			.col-xs-12.col-sm-9
				block navigationMenu
					ul.nav.navbar-nav.pull-right
						block navigationList
							+navItem(true, "index.html", "HOME")
							+navItem(true, "work.html", "WORK")
							+navItem(false, "about.html", "ABOUT")
			form.col-xs-12.col-sm-3
				.input-group
					input(type="text" class="form-control" placeholder="Search for...")
					span.input-group-btn
						button.btn.btn-secondary(type="button") Go!
		else
			.col-xs-12
				block navigationMenu
		.clearfix
nav.navbar
	svg(style="display: none;")
		include ../assets/images/svg/_id
	a.navbar-brand(href="index.html")
		// desktop logo
		svg.logoDesk
			use(xlink:href="#logoSolopx")
		// mobile logo
		svg.logoMobile
			use(xlink:href="#logoSolopxMobile")

	button.navbar-toggler.pull-right.hidden-md-up(type="button" data-toggle="collapse" data-target="#slideMenu") Menu
	button.navbar-toggler.pull-right.hidden-sm-down(type="button" data-toggle="collapse" data-target="#slideMenu") Menu &#9776;
.clearfix
