
<section class="statistics">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="text-center">Statistics & know how</h4>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h5>My strong point</h5>
        <ul>
          <li>
            <p>Graphinc design, brand concept</p>
          </li>
          <li>
            <p>Illustration & infographics (even for print)</p>
          </li>
          <li>
            <p>Web design, UI & Developement</p>
          </li>
          <li>
            <p>Marketing online (Newsletter, DEM)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>