script
    //- google analytics
    include ../assets/js/analytics.js

//- Bootstrap core JavaScript
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="#{assetsPath}js/bootstrap.min.js")
