include ../mixin/mixin
include ../config/config

block pagevars


doctype html
html(lang="en")
	include _head
	body(class="#{bodyClass}")
		include _navigation

		block contentPage

		include _footer
		include _footerScript

