$primary-color-pr01: #2b2d29
$newsletter_custom01: #87c300
$newsletter_custom02: #106e63
$newsletter_custom03: #3d3d56
$newsletter_custom04: #e7e7e7
$newsletter_custom05: #b3ff00
$newsletter_custom06: #a2a2a2


.newsletter
	.blockquoteTitle, cite
		color: $newsletter_custom03

	blockquote
		span
			font-size: 15rem
			font-family: serif
			display: block
			background: red
			margin-top: -10rem
		a
			color: $newsletter_custom03

	.heroImage
		background: $primary-color-pr01
		width: 100%
		overflow: hidden
	img
		margin: 0 auto
	a.btn.btn-primary-outline
		border-color: $primary-color-pr01
		color: $primary-color-pr01
		&:hover
			background:  $primary-color-pr01
			color: lighten($primary-color-pr01, 70%)

	svg
		max-width: 60px
		fill:$newsletter_custom03
	.lead
		margin-bottom: 4em
	.cta
		margin-top: 4em

	.thumbProject
		margin-top: -5em

	.content
		padding:  1rem 2rem
		h5, p
			padding: 0.5rem 0
		h5
			font-family: $font-family-heads
		p
			font-size: .8rem
		a
			font-family: $font-family-heads
			text-decoration: none
			font-size: .8rem
			font-weight: 700

	.thumb01
		.content
			background: $newsletter_custom05
			h5
				color: $newsletter_custom01
			p
				color: $primary-color-pr01
			a
				color: black

	.thumb02
		.content
			background: $newsletter_custom03
			h5
				color: $newsletter_custom01
			p
				color: darken(white, 40% )
			a
				color: $newsletter_custom01

	.thumb03
		.content
			background: $newsletter_custom06
			h5
				color: darken(white, 90% )
			p
				color: darken(white, 90% )
			a
				color: white

