.collapse#myMenu
#myMenu
	padding: .5rem 1rem
	background: lighten($logoColor-4, 10%)
	a
		font-family: $font-family-heads
		font-weight: 400
		color: lighten($logoColor-4, 60%)
		&:hover
			color: lighten($logoColor-4, 100%)
		&.active
			text-decoration: underline
		//.navbar
		//	background:  $bg-transparent

button.navbar-toggler
	// background: lighten(black, 60%)
	// margin-top: .5em
	color: white
	color: lighten(black, 40%)
	//font-weight: 700

.navbar-brand
	padding: 0
	margin-top: .5rem

.navbar
	button.navbar-toggler
		padding:  0.5rem
		//margin-top:
		font-size: 1.5rem
		//line-height: 1rem
		height: 1rem
		display: block
		height: 3rem
