extend template/template

block pagevars
	- var bodyClass = "bufnita"

block contentPage
	section.title.container-fluid
		.row
			.col-xs-12.text-center
				h2
					| A school of arts
					br
					| that break the barriers of knowledge
				p.lead
					| This summer I had the pleasure to know them, <strong>Razvan</strong> and <strong>Cecilia</strong>.
					br
					| Two superheroes, sorry parents, who decided to open a super private school.


				+pictureBufnita("title-bg", "icons", "1440", "1366", "1080", "assets/images/bufnita-din-tei", "icons", ".jpg")
	section.quote.container-fluid
		blockquote.text-center
			p
				| "I want to have, a super school"
			footer.lead
				| These were Razvan’s words, and from there it began a LEAP ideas. The things we knew for sure were: children & passion for children
		.container
			.row
				.col-xs-12.col-md-5.text-center.svg
					include assets/images/bufnita-din-tei/hand-quote.svg
					p
						| passionate
						br
						em teachers
					hr
					include assets/images/bufnita-din-tei/bufnita-quote.svg
					p
						| creative
						br
						em children
				.col-xs-12.col-md-6.pull-left
					em.titleSection story
					h2
						| Leonardo da Vinci's school?...
					p
						strong We do not we have Leonardo as protagonist.
						br
						| But I found a local star named NICA - John Creanga’s character known by all children in Romania.
						| It is best known for his jokes and story "Pupaza din tei" which has since become "Owl Lime".
	section.draw.container-fluid
		.container
			.row
				.col-sm-12.col-md-6
					em.titleSection draw
					h2
						| Let’s start to draw
					p
						| From beautifoul grid to <strong>hand</strong> form and back to the <strong>owl</strong>
					a.link.btn.btn-primary(href="")
						| see the presentation


	section.logo-construction.container-fluid
		.row
			.col-xs-12
				em.titleSection logo construction
				h2
					| Flip and transform
				p
					| Playing with shapes is my pleasure. Is exactly what I did

	section.color.container-fluid
		.row
			.col-xs-12
				em.titleSection owl «love color»
				h2
					| Not exactly
				p
					| The choice of color was a very easy, based on the idea that there must be a cheerful color palette.

				+pictureBufnita("color-icon-Bg", "icons", "1440", "1366", "1080", "assets/images/bufnita-din-tei", "icons", ".png")

	section.final-logo.container-fluid
		.row
			.col-xs-12
				h1 The final logo contains
				p.lead 2 hand + 1 head of owl
			.col-xs-12
				em.titleSection question:
				h2
					| What do yu think?
				p
					| Let your thoughts flow ...
					br
					| I'm sure you will influence Razvan if they are positive
