extend template/template

block contentPage
	include include/modules/_paralax
	include include/modules/_cardRow
	include include/modules/_skils
	//- include ../include/modules/_staticHeroImage
	//- include include/sections/bufnitaDinTei.jade