extend template/template

block pagevars
	- var bodyClass = "index"

block contentPage
	include include/modules/_introQuote
	include include/modules/_cardRow
	include include/modules/_skils
	//- include ../include/modules/_staticHeroImage
	//- include include/sections/bufnitaDinTei.jade