extend template/template


block contentPage
	.container
		.row.sampleSvg
			.col-xs-12.col-sm-3.text-center
				p vectorIllustrator
				svg.icon.iconVectorIllustrator
					use(xlink:href="#iconVectorIllustrator")
			.col-xs-12.col-sm-3.text-center
				p ui
				svg.icon.iconUi
					use(xlink:href="#iconUi")
			.col-xs-12.col-sm-3.text-center
				p brain
				svg.icon.iconBrain
					use(xlink:href="#iconBrain")
			.col-xs-12.col-sm-3.text-center
				p marketing
				svg.icon.iconMarketing
					use(xlink:href="#iconMarketing")