//- content
- var author			= "Nicu Razvan - solopx.com"

- var siteLink			= "www.solopx.com"
- var siteLink			= ""

- var title			= "Nicu Razvan - UX & Interaction Designer"
- var title			= ""

- var description		= "2015 - Portfolio - UX and Interaction Designer based in Milan creating useful, usable and engaging digital experiences for the web and more..."
- var description		= ""

- var metaSocialDesc		= "Nicu Razvan Portfolio - UX &amp; Interaction Designer"
- var metaSocialDesc		= ""