.bufnita
	.draw
		background-repeat:  no-repeat
		background-image: url("../images/bufnita-din-tei/01.gif")
		background-position: 100% 100%
		background-color: white
		background-size: contain
		height: 120vh
	h2
		color: $accent01-color-bufnitadintei
		margin-bottom: 0
		padding-bottom: .5em
@media (min-width: 34em)
	.bufnita
		.draw
			height: 100vh
			font-size: 1em
@media (min-width: 48em)
	.bufnita
		.draw
			font-size: 1em
@media (min-width: 62em)
	.bufnita
		.draw
			font-size: 1em
@media (min-width: 75em)
	.bufnita
		.draw
			font-size: 1em