.bufnita
	section.title
		background: $accent01-color-bufnitadintei
		color: white
		h2
			color: white
		p.lead
			max-width: 800px
			margin: 0 auto
			color: $accent02-color-bufnitadintei
		img.icons
			max-width: 100%
			margin: 0 auto

		small
			i
				color: darken($accent01-color-bufnitadintei, 15%)

//@media (min-width: 34em)
//@media (min-width: 48em)
//@media (min-width: 62em)
//@media (min-width: 75em)
